<style>

#background{
background-image: url("BG.jpg");
height:100%;
background-position:center;
background-repeat:repeat;
background-size:cover;
}


#profimg{
margin-top:2px;
}

#top1{
margin-top:25px;
color:#fffaf0;
font-family: broadway;
font-size: 35px;
}

#left{
padding-left:250px;
}


#left2{
padding-left:635px;
margin-top:-508px;
}


#left3{
margin-top:-400px;	
}

#title1{
font-family:Tw Cen MT;
font-weight:bold;	
font-size: 20px;
}


#leftfont{
font-size:13px;
}


#edufont{

font-size:17px;	
margin-left: 20px;
font-family:calibri;
font-style: italic;
}

#top2{
color:#483D8B;	
font-size: 12px;
font-family: cambria;
font-style: italic;
}
</style>